<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hui.pand.mapper.UserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hui.pand.entity.UserEntity" id="userMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>

        <collection property="roles" javaType="RoleEntity">
            <result property="id" column="id"/>
            <result property="code" column="code"/>
            <result property="name" column="name"/>
            <result property="createTime" column="create_time"/>
            <result property="modifyTime" column="modify_time"/>
        </collection>
    </resultMap>

    <select id="selectUserRoleByUserId" parameterType="java.lang.String" resultMap="userMap">
        SELECT * FROM user u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.id
        WHERE u.id = #{userId}
    </select>
</mapper>